<div class="card products-items">
    <div class="card-header products-items__header">
        <h5>{{ productItem.name }}</h5>
    </div>
    <div class="card-body products-items__body">
        <div class="products-items__body--image">
            <a href="">
                <img style="width: 200px;" src="{{productItem.src}}" alt="">
            </a>
        </div>
        <div>
            <span>Price : </span> <strong>{{productItem.price}}</strong><br>
            <div *ngIf="user.isAdmin">
                <p>xin chao: {{user.email}}</p>
                <strong>Stock: {{productItem.stock}}</strong>
            </div>
            <div [ngSwitch]="date">
                <p *ngSwitchCase="1">Monday</p>
                <p *ngSwitchCase="2">Tuesday</p>
                <p *ngSwitchCase="3">Wednesday</p>
                <p *ngSwitchDefault>Not A Day</p>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <button class="btn btn-warning" (click)="changeTitle(productItem)">View more</button>
        <button class="btn btn-primary">Add to card</button>
    </div>
</div>