<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-8 offset-2">
            <div class="card">
                <h3>Product Detail</h3>
                <!-- <div class="card-header">
                    <h5>Name:  {{product.name}}</h5>
                </div>
                <div class="card-body">
                    <div >
                        <img style="width: 500px;" [src]="product.src" alt="">
                    </div>
                    <div>
                        <strong>price: $ {{ product.price }}</strong>
                        {{productId}}
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <button class="btn btn-primary">Add To card</button>
                        <a class="btn btn-warning" routerLink="/home">Come back</a>
                    </div>
                    <div>
                        <button class="btn btn-default" (click)="goPrev()"><i class="fas fa-arrow-left"></i> </button>
                        <button class="btn btn-default float-right" (click)="goNext()"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>