<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            <h5>Login User</h5>
            <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control" required ngModel>
                    <!-- <span *ngIf="email.touched && !email.valid" class="text-danger">Email is required</span> -->
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control" required ngModel>
                    <!-- <span  *ngIf="password.touched && !password.valid" class="text-danger">Password is required</span> -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submt</button>
                </div>
            </form>
        </div>
    </div>
</div>