.app-component {
    border: 1px solid green;
    padding: 20px;
    .products {
    
    }
}
// app-component
.main-content {
    padding-bottom: 50px;
    &__title {
        margin-top: 100px;
    }

}