h2 {
    color: coral;
}

.products {
    // margin-top: 50px;
    .products-items {
        &__body {
            &--image {
                max-width: 250px;
                img {
                    width: 100%;
                }
            }
        }
    }
}